{{- if and .Values.general.debugZero.enabled .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: {{ include "debugZero.backend.name" . }}
  name: {{ include "debugZero.backend.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
automountServiceAccountToken: {{ or .Values.serviceAccount.automountServiceAccountToken .Values.general.system_diagnostics_k8s_api.enabled }}
{{- end }}
